@font-face {
    font-family: "OpenSans";
    src: url('../fonts/OpenSans-Regular.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url('../fonts/OpenSans-Bold.woff');
    font-weight: 700;
    font-style: bold;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: OpenSans, Arial, sans-serif;
    overflow: auto;
}

.popup_toggle {
    position: absolute;
    z-index: 1;
    right: 0;
    display: none;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    z-index: 3;
    display: none;

}

.modal__content {
    width: 75vw;
    background-color: #ffffff;
    position: relative;
    padding-bottom: 30px;
}

.modal__close {
    border: none;
    background: none;
    cursor: pointer;
    width: 2vw;
    height: 2vw;
    position: absolute;
    top: -2.5vw;
    right: 0;
    background-image: url('../svg/form-x.svg');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 3;
}

.modal__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000000;
    opacity: 0.5;
    z-index: -1;
}

.popup_toggle:checked+.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup_toggle:checked {
    display: none;
}

.popup-title__name {
    position: relative;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
    padding-top: 50px;
}

.popup-title__name:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #e1d9bd;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    top: 77px;
}

.questions-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0px 30px;
    text-align: left;
}

.question-visit,
.question-email,
.question-content {
    margin-bottom: 30px;
}

.questions-form select,
.questions-form textarea {
    width: 100%;
    all: unset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    margin: 0 auto;
    padding: 8px;
    border: 1px solid transparent;
    background-color: #f4f7f6;
    box-sizing: border-box;
    color: #a2a4a3;
}

.question-text,
.question-email__title,
.popup-option,
.questions-form select {
    font-size: 14px;
}

.questions-form select {
    width: 100%;
    background-image: url('../svg/form-arrows.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 40px;
    background-size: 10px 20px;
    cursor: pointer;
    font-size: 14px;
}

.popup-option {
    color: #a2a4a3;
}

.question-email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.question-email__title {
    margin: 0;
    padding-bottom: 1vw;
}

.answer {
    margin: 0;
}

.radio {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

.radio-text {
    font-size: 13px;
    padding-right: 5px;
}

.radio-text::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../svg/form-empty-circle.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.question-subscribe__name input[type="radio"]:checked+.radio-text::before {
    background-image: url('../svg/form-circle.svg');
}

.questions-form textarea {
    width: 100%;
    height: 20vw;
    resize: none;
    white-space: normal;
    overflow-wrap: break-word;
    font-size: 14px;
}

.question-content__textarea:focus,
.popup-question__visit:focus {
    border-bottom: 2px solid #ebe7d7;
}

.popup-submit {
    width: 100%;
    height: 7vw;
    margin: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: transparent;
    cursor: pointer;
    background-color: #b59f5b;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1.13px;
}

.header {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    background-position: center;
    background-image: url("../images/banner-mobile.jpg");
    position: relative;
    z-index: 0;
    text-transform: uppercase;
    height: auto;
    margin-bottom: 40px;
}

.header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}

.header-content {
    box-sizing: border-box;
    align-items: center;
}

.main-menu {
    margin-right: auto;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.main-menu_list {
    display: none;
}

.burger-menu {
    padding: 35px 15px 0 0;
    display: flex;
    justify-content: right;
    margin-bottom: 180px;
}

.logo-link {
    margin: 0 auto;
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
}

.intro {
    margin: 0 30px;
    box-sizing: content-box;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 220px;
    line-height: 1.58;
    font-size: 25px;
}

.main-logo {
    width: 270px;
    margin-bottom: 3.5rem;
}

.trends {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
}

.title__name {
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 16px;
    text-align: center;
}

.title__name:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #e1d9bd;
    margin: 5px auto;
}

.trends-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid #dfdad0;
}

.trends-card__item {
    display: flex;
    width: 100%;
    height: 230px;
    gap: 4px;
    border: 1px solid transparent;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    padding: 18px;
}

.trends-card__item::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    z-index: -1;
}

.trends-back__first {
    background-image: url(../images/trend1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.trends-back__second {
    background-image: url(../images/trend2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.trends-back__third {
    background-image: url(../images/trend3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.trends-back__fouth {
    background-image: url(../images/trend4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.trends-info {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border: 3px solid #716538;
    text-align: left;
    padding: 2vw;
    line-height: 1;
    align-self: flex-end;
}

.trends-link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    overflow-wrap: break-word;
    hyphens: auto;
}

.trends-name {
    font-size: 16px;
}

.trends-tag {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #b59f5b;
    margin-right: 14px;
    margin-bottom: 6px;
}

.trends-tag__link {
    text-decoration: none;
    color: inherit;
}

.main-content {
    margin: 0 15px;
}

.posts {
    width: 100%;
}

.post {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    border-bottom: 3px solid #eeeeee;
}

.post-img {
    width: 100%;
}

.post-name,
.newpost-name {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    color: #0f0d0e;
    margin: 5px 0 12px 0;
}

.post-link,
.newpost-link {
    text-decoration: none;
    color: inherit;
}

.post-date,
.newpost-date {
    font-size: 12px;
    color: #888888;
    margin-right: 10px;
}

.post-author {
    display: inline-block;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 15px;
}

.post-preview {
    box-sizing: border-box;
    background-color: #eff6f1;
}

.post-description {
    margin-bottom: 20px;
}

.par {
    padding-bottom: 10px;
}

.newpost-title__name,
.newsletter-title__name,
.tags-title__name,
.topic-title__name,
.product-title__name {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    margin-bottom: 37px;
}

.newposts {
    margin-bottom: 45px;
}

.newpost {
    width: 100%;
    display: flex;
    margin-bottom: 22px;
    align-items: normal;
}

.newpost:nth-last-child(2) {
    margin-bottom: 60px;
}

.newpost-img {
    width: 100%;
    background-color: #eff6f1;
}

.newpost-preview {
    box-sizing: border-box;
    width: 20%;
    margin-right: 20px;
}

.newpost-info {
    width: 80%;
}

.search {
    width: 100%;
}

.search-label__field {
    display: flex;
    flex-wrap: nowrap;
}

.search-label {
    width: 100%;
}

.button-search {
    border: 0;
    min-width: 47px;
    background-color: #b59f5b;
    background-image: url('../svg/search.svg');
    background-position: center;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.search-field {
    padding: 17px 2px 18px 18px;
    border: 0;
    background-color: #f4f7f6;
    height: 47px;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
}

.search-hint {
    font-size: 13px;
    padding-right: 10px;
    font-weight: bold;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.search-field:focus-visible {
    outline: none;
    border-bottom: 3px solid #ebe7d7;
    padding-bottom: 15px;
}


.subscribe {
    display: inline-block;
    width: 100%;
    margin-bottom: 45px;
}

.subscribe-field {
    box-sizing: border-box;
    width: 100%;
    height: 47px;
    padding: 17px 2px 18px 18px;
    border: 0px;
    background-color: #f4f7f6;
    font-size: 14px;
}

.subscribe-field:focus-visible {
    outline: none;
    border-bottom: 3px solid #ebe7d7;
    padding-bottom: 15px;
}

.subscribe-button {
    width: 100%;
    box-sizing: border-box;
    margin-top: 16px;
    padding: 0;
    border: 0;
    border-top: 1px solid #e6dfc8;
    height: 47px;
    background-color: #b59f5b;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.tags {
    margin-bottom: 45px;
}

.tags_list {
    width: 100%;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: normal;
}

.tags-list__item {
    margin: 0px 5px 6px 0px;
    border: 3px solid #eeeeee;
    padding: 0px 13px 5px 13px;
}

.tags-list__item:hover {
    margin: 0px 5px 6px 0px;
    border: 3px solid #b59f5b;
    padding: 0px 13px 5px 13px;
}

.tags-link {
    padding: 0;
    text-decoration: none;
    color: #0f0d0e;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.topic {
    margin-bottom: 45px;
}

.topic_list {
    list-style-type: none;
}

.topic-list__item {
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.topic-list__item:first-child {
    padding-top: 0px;
}

.topic-link {
    text-decoration: none;
    color: #0f0d0e;
    font-size: 14px;
    font-weight: bold;
}

.topic-counter {
    color: #b59f5b;
}

.offer {
    margin: 0 15px 0 15px;
}

.product-cards {
    display: flex;
    flex-direction: column;
}

.product-cards__img {
    width: 100%;
    padding: 0 20px;
}

.product-info {
    position: relative;
    border: 3px solid #ddd3b4;
    top: -50px;
    padding: 50px 20px 25px 20px;
}

.product-name {
    text-align: left;
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 10px;
}

.product-description {
    text-align: left;
    font-size: 14px;
}

.post-description {
    font-size: 14px;
}

.description-decor {
    font-size: 14px;
    padding-bottom: 20px;
}

.offer-link {
    color: #bba76b;
}

.product__footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-price__old {
    text-decoration: line-through;
    font-size: 14px;
    margin-bottom: 5px;
}

.product__price {
    font-size: 24px;
    font-weight: 700;
    color: #222;
    line-height: 1;
    display: flex;
}

.product__button {
    display: block;
    width: 140px;
    height: 50px;
    border: 2px solid #efeeea;
    box-sizing: border-box;
    border-top: 1px solid #e6dfc8;
    background-color: #b59f5b;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    color: white;
}

.footer {
    margin: 0 15px 50px 15px;
    display: flex;
    flex-direction: column;
}

.contact {
    background-color: #f4f7f6;
    padding-bottom: 25px;
    margin-bottom: 45px;
}

.contact-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 30px;
}

.contact-list__item {
    display: inline-block;
    list-style-type: none;
}

.contact-icon {
    display: block;
    width: 18px;
    height: 18px;
    text-decoration: none;
    background-position: center center;
    background-size: 18px 18px;
    background-repeat: no-repeat;
}

.dribble {
    background-image: url("../svg/001-dribbble.svg");
}

.pinterest {
    background-image: url("../svg/001-pinterest.svg");
}

.tumblr {
    background-image: url("../svg/003-tumblr.svg");
}

.copyright-title {
    padding-bottom: 30px;
    text-align: center;
}

.copyright-link {
    padding: 0;
    text-decoration: none;
    color: #999999;
    font-size: 12px;
    font-weight: bold;
}

@media screen and (orientation: landscape) and (max-width: 640px) {
    .trends-card {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .trends-card__item {
        width: 50%;
        box-sizing: border-box;
    }

    .modal {
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
    }

    .modal__content {
        max-height: 80vh;
        overflow-y: auto;
        padding: 20px;
        box-sizing: border-box;
    }

    .modal__close {
        top: 10px;
        right: 10px;
        width: 2vw;
        height: 2vw;
        border: none;
        z-index: 10;
        background-color: #bba76b;
    }
}