.popup-title__name {
    font-size: 18px;
}

.modal__content {
    width: 60vw;
    margin: 30px auto 10px auto;
    background-color: #ffffff;
    position: relative;
}

.header {
    background-image: url("../images/banner-bg-tablet.jpg");
}

.main-menu {
    flex-direction: row;
    justify-content: space-between;
    padding: 45px 30px 0 30px;
}

.main-logo {
    width: 160px;
    margin-bottom: 0;
}

.burger-menu {
    justify-content: right;
    margin-bottom: 100px;
    padding: 0;
}

.logo-link {
    margin: 0;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}

.intro {
    padding-bottom: 125px;
    font-size: 40px;
}

.trends-title__name {
    font-size: 18px;
}

.trends-card {
    flex-direction: row;
    flex-wrap: wrap;
}

.trends-card__item {
    width: 50%;
    height: 260px;
}

.main-content {
    margin: 0 35px;
    flex-wrap: nowrap;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.title__name {
    font-size: 14px;
}

.title-fs__bigger {
    font-size: 18px;
}

.posts {
    margin-right: 35px;
}

.post:last-child {
    border: transparent;
}

.offer {
    margin: 0 35px 0 35px;
}

.product-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.product-cards__item {
    width: 49%;
}

.footer {
    margin: 0 35px 50px 35px;
    display: flex;
    flex-direction: column;
}

@media screen and (orientation: landscape) and (max-width: 1200px) {
    .trends-card__item {
        width: 25%
    }

    .modal {
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
    }

    .modal__content {
        max-height: 80vh;
        overflow-y: auto;
        padding: 20px;
        box-sizing: border-box;
    }

    .modal__close {
        top: 10px;
        right: 10px;
        width: 2vw;
        height: 2vw;
        border: none;
        z-index: 10;
        background-color: #bba76b;
    }
}